/* Styling for my basic portfolio page */

body {
    position: relative;
    font-size: 18px;
    color: #333;
    background-image: url("../images/background.png");
    margin: 0;
}


p {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
}

h1 {

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 30px;
    padding: 20px;
    margin: 0;
    background: #4aaaa5;
    text-align: center;
    border: solid 1px #cccccc;
    position: relative;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

h3 {

    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}


h4 {

    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-weight: lighter;
    width: 275px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #4aaaa5;
    margin-bottom: 30px;
}

hr {
    border: solid 1px #cccccc;
}


/* My name header */

.wrapper {
    width: 100%;
    margin: 0px auto;
    background-color: white;
    border-bottom: solid 1px #cccccc;
}

.myname {
    float: left;
}


/* Links to other pages on my website */

.header_container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    margin-top: 50px;
    float: right;
    margin-right: 45px;
}



/* Merging my name and website links */

.namemerge {
    overflow: auto;
    background-color: white;
    width: 960px;
    margin: auto;
}

.sidebar,
.contactmerge {
    width: 960px;
    margin: auto;
}



/* Icon links to my online profiles */

.connectwithme_container {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 1px solid #dddddd;
    color: #4aaaa5;
    background-color: #ffffff;
    padding: 0 10px 10px 10px;
    width: 250px;
    float: right;
    text-align: center;
    margin-top: 20px;
}


/* Main page profile pic */

.bio-image {
    float: left;
    margin: 10px;
}


/* Content for my pages */

.mainContent {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 20px;
    width: 610px;
    float: left;
    margin-top: 20px;
    /*margin-bottom: 200px;*/
    border: solid 1px #dddddd
}



/* Floating the gallery pictures into rows */

.row1,
.row2,
.row3 {
    margin-right: 10px;
    float: left;
    padding: 10px;
}


.row3 {
    margin-top: -15px;
}


/* Gallery text over pics in the portfolio page */

.gallery1,
.gallery2,
.gallery3,
.gallery4,
.gallery5 {

    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Setting contact form size */

#name,
#mail {
    width: 590px;
    height: 30px;
}

textarea {
    width: 590px;
    height: 300px;
}


/* Submit button styling */

button {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    width: 125px;
    height: 50px;
    border: none;
    background-color: #4aaaa5;
}


/* Footer */

.footer {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    border-top-style: solid;
    border-top-width: 10px;
    border-color: #4aaaa5;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #666666;
    color: white;
    clear: both;
    text-align: center;
    width: 100%;
    position: fixed;
    /* Sticky footer */
    bottom: 0;
    left: 0;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


@media screen and (max-width:979px) {

    .wrapper {
        width: 70%;
    }

    .mainContent {
        width: 70%;
    }

    .connectwithme_container {
        width: 100%;
        margin-top: 20px;
    }

    .footer {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .wrapper {
        width: 70%;
    }

    .mainContent {
        width: 100%;
    }

    .connectwithme_container {
        width: 100%;
        margin-top: 20px;
    }

    .myname {
        width: 100%;
        text-align: center;
    }
    .headercontainer {
        width: 100%;
        text-align: center;
    }

    .footer {
        width: 100%;
    }
}



@media screen and (max-width:640px) {

    .wrapper {
        width: 70%;
    }
    .mainContent {
        width: 100%;
    }

    .connectwithme_container {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .myname {
        width: 100%;
        text-align: center;
    }
    .headercontainer {
        width: 100%;
        text-align: center;
    }


    .footer {
        width: 100%;
    }
}